.container {
  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
}

.siteLayout {
  .siteLayoutBackground {
    background: #fff;
    padding: 0 16px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
